<%provide(:title, "About")%>
<!DOCTYPE html>
<html>
	<title>
		RoR Tutorial | <%=yield(:title)%>
	</title>
	<body>
		<h1>About</h1>
		<p>
			You can read about
			<a href="http://www.liviupetri.com" > me. </a>
		</p>

	</body>
</html>