<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
	<body>
		<h1>Help</h1>
		<p>Find all the 
		<a href= "http://vast-lowlands-3349.herokuapp.com/static_pages/help"> help </a>
		you need</p>
	</body>
</html>
