<footer class="footer">
  <small>
    <a href="http://www.liviupetri.com/">Zelvo Creations</a>
    by Liviu Petri
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.sevenseasadventure.net/">News</a></li>
    </ul>
  </nav>
</footer>